# Finincial Planner

In [53]:
import os
import pandas as pd
import alpaca_trade_api as tradeapi
# Load .env environment variables
from dotenv import load_dotenv
load_dotenv("newkeys.env")

%matplotlib inline

In [54]:
# Load .env environment variables

load_dotenv("newkeys")

True

In [55]:
# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

In [56]:
# Verify that Alpaca key and secret were correctly loaded
print(f"Alpaca Key type: {type(alpaca_api_key)}")
print(f"Alpaca Secret Key type: {type(alpaca_secret_key)}")

Alpaca Key type: <class 'str'>
Alpaca Secret Key type: <class 'str'>

In [57]:
alpaca_api_key

'PKLLRLI17NPKDE8EW7EC'

In [58]:
# Set current amount of shares data
shares_data = {
    "shares": [50, 200]
}

# Set the tickers
tickers = ["SPY", "AGG"]

# Create the shares DataFrame
df_shares = pd.DataFrame(shares_data, index=tickers)

# Display shares data
df_shares

     shares
SPY      50
AGG     200

In [63]:
# Collect Investment Data From Alpaca API

In [65]:
# Create the Alpaca API object
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [66]:
## Collect Investment Data From Alpaca API
## Set the SPY stock and AGG bonds tickers
ticker = ["SPY","AGG"]

## Set timeframe to '1D'
timeframe = "1D"

## Set start and end datetimes of 5 years history.
start_date = pd.Timestamp("2016-03-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2021-03-01", tz="America/New_York").isoformat()

## Get 5 year's worth of historical data for SPY Stock and AGG Bonds
df_ticker = alpaca.get_barset(
    ticker,
    timeframe,
    start=start_date,
    end=end_date,
    limit=1000,
).df

## Display sample data
df_ticker.head(10)

                              AGG                                        \
                             open    high       low    close     volume
time
2017-03-09 00:00:00-05:00  107.32  107.34  107.1207  107.150  2894452.0
2017-03-10 00:00:00-05:00  107.23  107.32  107.1600  107.290  1787253.0
2017-03-13 00:00:00-04:00  107.21  107.28  107.1000  107.110  1488298.0
2017-03-14 00:00:00-04:00  107.08  107.24  107.0800  107.150  2517060.0
2017-03-15 00:00:00-04:00  107.25  107.79  107.2000  107.780  2040321.0
2017-03-16 00:00:00-04:00  107.68  107.75  107.6200  107.665  1890283.0
2017-03-17 00:00:00-04:00  107.72  107.91  107.6901  107.900  2061802.0
2017-03-20 00:00:00-04:00  107.86  108.05  107.8401  108.050  1521717.0
2017-03-21 00:00:00-04:00  107.93  108.27  107.9300  108.270  1885080.0
2017-03-22 00:00:00-04:00  108.44  108.54  108.3600  108.430  2260513.0

                              SPY
                             open    high     low   close       volume
time
2017-03-09 00:00:00-05:00     NaN     NaN     NaN     NaN          NaN
2017-03-10 00:00:00-05:00  237.97  238.02  236.59  237.64   57074557.0
2017-03-13 00:00:00-04:00  237.62  237.86  237.24  237.76   38721556.0
2017-03-14 00:00:00-04:00  237.20  237.24  236.19  236.93   45447851.0
2017-03-15 00:00:00-04:00  237.56  239.44  237.29  238.89   68203425.0
2017-03-16 00:00:00-04:00  239.11  239.20  238.10  238.52   52393139.0
2017-03-17 00:00:00-04:00  237.75  237.97  237.07  237.08   50206841.0
2017-03-20 00:00:00-04:00  237.03  237.36  236.32  236.74   37732815.0
2017-03-21 00:00:00-04:00  237.47  237.61  233.58  233.78  102898817.0
2017-03-22 00:00:00-04:00  233.77  234.61  233.05  234.27   70252351.0

In [67]:
# Create and empty DataFrame for closing prices
df_closing_prices = pd.DataFrame()

# Fetch the closing prices of SPY Stock and AGG Bonds
df_closing_prices["SPY"] = df_ticker["SPY"]["close"]
df_closing_prices["AGG"] = df_ticker["AGG"]["close"]

# Drop the time component of the date
df_closing_prices.index = df_closing_prices.index.date

# Compute daily returns
df_daily_returns = df_closing_prices.pct_change().dropna()

# Display sample data
df_daily_returns.head(10)

                 SPY       AGG
2017-03-13  0.000505 -0.001678
2017-03-14 -0.003491  0.000373
2017-03-15  0.008272  0.005880
2017-03-16 -0.001549 -0.001067
2017-03-17 -0.006037  0.002183
2017-03-20 -0.001434  0.001390
2017-03-21 -0.012503  0.002036
2017-03-22  0.002096  0.001478
2017-03-23 -0.001110  0.000184
2017-03-24 -0.000470 -0.000738

In [68]:
df_daily_returns.tail()

                 SPY       AGG
2021-02-23  0.001007  0.000260
2021-02-24  0.010994 -0.000433
2021-02-25 -0.023918 -0.009180
2021-02-26 -0.005413  0.008391
2021-03-01  0.024190 -0.002080

In [69]:
# Create the Alpaca API object
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [70]:
# Format current date as ISO format
today = pd.Timestamp("2021-03-31", tz="America/New_York").isoformat()

In [71]:
today

'2021-03-31T00:00:00-04:00'

In [72]:
# Set timeframe to one day ('1D') for the Alpaca API
timeframe = "1D"

In [74]:
# Get current price data for SPY and AGG
df_portfolio = alpaca.get_barset(
    tickers,
    timeframe,
    start = today,
    end = today
).df

# Display sample data
df_portfolio

                              AGG                                      SPY  \
                             open    high     low   close   volume    open
time
2021-03-31 00:00:00-04:00  113.84  113.98  113.71  113.82  5846835  395.34


                          high     low   close    volume
time
2021-03-31 00:00:00-04:00  398  395.31  396.28  88541243

In [75]:
## Calculate Current Value of Portfolio

# Fetch the current closing prices from the DataFrame
my_spy_pershare = float(df_portfolio["SPY"]["close"])
my_agg_pershare = float(df_portfolio["AGG"]["close"])

In [76]:
my_spy_pershare

396.28

In [77]:
# Compute the current value in dollars of the stock portfolio
my_spy = my_spy_pershare * df_shares.loc["SPY"]["shares"]
my_agg = my_agg_pershare * df_shares.loc["AGG"]["shares"]

In [78]:
# Print the current value of the stocks portfolio
print(f"The current value of the {df_shares.loc['SPY']['shares']} SPY shares is ${my_spy:0.2f}")
print(f"The current value of the {df_shares.loc['AGG']['shares']} AGG shares is ${my_agg:0.2f}")

The current value of the 50 SPY shares is $19814.00
The current value of the 200 AGG shares is $22764.00

In [167]:
pd.options.display.float_format = '{:1.2f}'.format

In [168]:
# Total Value of Share Values
total_share_values = my_spy + my_agg
total_share_values

42578.0

In [169]:
# Collect Crypto Prices using Free Crypto API

In [170]:
import requests
import json
import pandas as pd

In [193]:
# Set current amount of Crypto Asset

crypto_assets = {
    "lots": [1.2, 5.3]
}

# Set the Coins
coins = ["BTC","ETH"]

# Create the shares DataFrame
coin_lots = pd.DataFrame(crypto_assets, index=coins)

# Display shares data
coin_lots

     lots
BTC  1.20
ETH  5.30

In [194]:
pd.options.display.float_format = '{:6.2f}'.format

In [195]:
Lots[1]

5.3

In [196]:
# Crypto API URl's
crypto_url =  "https://api.alternative.me/v1/ticker/?limit=2&convert=USD"

In [197]:
crypto_url = crypto_url + "?format=json"

In [198]:
requests.get(crypto_url)

In [199]:
response_data = requests.get(crypto_url)

In [200]:
# Get content Crypto Data
response_content = response_data.content
print(response_content)

b'[\n\t{\n\t\t"id": "bitcoin",\n\t\t"name": "Bitcoin",\n\t\t"symbol": "BTC",\n\t\t"rank": "1",\n\t\t"price_usd": "58142.0000000000000000",\n\t\t"price_btc": "0",\n\t\t"24h_volume_usd": "50641136263",\n\t\t"market_cap_usd": "1088618973000",\n\t\t"available_supply": "18672581",\n\t\t"total_supply": "18672581",\n\t\t"max_supply": "21000000",\n\t\t"percent_change_1h": "-0.4654638930015800",\n\t\t"percent_change_24h": "-0.9420747665930370",\n\t\t"percent_change_7d": "5.6491593321761500",\n\t\t"last_updated": "1617483491"\n\t},\n\t{\n\t\t"id": "ethereum",\n\t\t"name": "Ethereum",\n\t\t"symbol": "ETH",\n\t\t"rank": "2",\n\t\t"price_usd": "2055.6100000000000000",\n\t\t"price_btc": "0",\n\t\t"24h_volume_usd": "34720946618",\n\t\t"market_cap_usd": "240159917758",\n\t\t"available_supply": "115321189",\n\t\t"total_supply": "115321189",\n\t\t"max_supply": "null",\n\t\t"percent_change_1h": "-1.5659043825145300",\n\t\t"percent_change_24h": "-1.7570099653163600",\n\t\t"percent_change_7d": "20.8920358778820000",\n\t\t"last_updated": "1617483492"\n\t}\n]\n'

In [201]:
import json

In [202]:
# Formatting as json
crypto_data = response_data.json()

In [203]:
# Add indents to JSON and output to screen
print(json.dumps(crypto_data,indent=4))

[
    {
        "id": "bitcoin",
        "name": "Bitcoin",
        "symbol": "BTC",
        "rank": "1",
        "price_usd": "58142.0000000000000000",
        "price_btc": "0",
        "24h_volume_usd": "50641136263",
        "market_cap_usd": "1088618973000",
        "available_supply": "18672581",
        "total_supply": "18672581",
        "max_supply": "21000000",
        "percent_change_1h": "-0.4654638930015800",
        "percent_change_24h": "-0.9420747665930370",
        "percent_change_7d": "5.6491593321761500",
        "last_updated": "1617483491"
    },
    {
        "id": "ethereum",
        "name": "Ethereum",
        "symbol": "ETH",
        "rank": "2",
        "price_usd": "2055.6100000000000000",
        "price_btc": "0",
        "24h_volume_usd": "34720946618",
        "market_cap_usd": "240159917758",
        "available_supply": "115321189",
        "total_supply": "115321189",
        "max_supply": "null",
        "percent_change_1h": "-1.5659043825145300",
        "percent_change_24h": "-1.7570099653163600",
        "percent_change_7d": "20.8920358778820000",
        "last_updated": "1617483492"
    }
]

In [204]:
crypto_data[0]["price_usd"]

'58142.0000000000000000'

In [205]:
pd.options.display.float_format = '{:5.2f}'.format

In [206]:
# Select BTC Current Price
my_btc = crypto_data[0]["price_usd"]
my_eth = crypto_data[1]["price_usd"]

print("BTC Price Today $: " + my_btc)
print("ETH Price Today $: " + my_eth)

BTC Price Today $: 58142.0000000000000000
ETH Price Today $: 2055.6100000000000000

In [223]:
print(float(my_btc))

58142.0

In [224]:
print(float(my_eth))

2055.61

In [225]:
coin_lots

     lots
BTC  1.20
ETH  5.30

In [228]:
total_btc_value = float(my_btc) * coin_lots.loc["BTC"]
total_eth_value = float(my_eth) * coin_lots.loc["ETH"]


print((total_btc_value)+(total_eth_value))

lots   80665.13
dtype: float64

In [222]:
# Portfolio Value of Crypocurrencies 
total_crypto_value = (total_btc_value + total_eth_value)

total_crypto_value

lots   80665.13
dtype: float64

# Saving and Health Analysis

In [217]:
# Create Savings Database

df_savings = {
    "Amount": [total_crypto_value, total_share_values]
}

# Set the Coins
Types = ["Crypto","Shares"]

# Create the shares DataFrame
savings = pd.DataFrame(df_savings, index=Types)

# Display shares data
savings

                                Amount
Crypto  lots   80665.13
dtype: float64
Shares                        42578.00

In [ ]:
# Set monthly household income
monthy_income = 12000

# Create savings DataFrame
df_savings  = {
  "amount": ["crypto","shares"],
}

df_savings = pd.DataFrames(data=df_savings)

# Display savings DataFrame
display(df_savings)

In [192]:
df_savings = pd.DataFrame({'Type': ['Crypto','Shares'], 'Amount': ('total_crypto_value', "total_shares_value)})
df_savings

     Type  Amount
0  Crypto    4.00
1  Shares    4.00

In [50]:
my_btc = float(Lots["Coins"]["BTC"])
my_eth_lots = float(Lots["Coins"]["ETH"])

TypeError: list indices must be integers or slices, not str

In [ ]:
# Select BTC Current Price
my_btc = data[0]['symbol']
price_usd = data[0]['price_usd']

print("Symbol: " + symbol)
print("BTC Price: " + str(price_usd))

In [ ]:
# Select ETH Currentl Price
my_eth = data[1]['symbol']
price_usd = data[1]['price_usd']

print("Symbol: " + symbol)
print("ETH Price: " + str(price_usd))

In [ ]:
# Set current amount of Crypto Asset
crypto_data = {
    "Lots": [1.2, 5.3]
}

In [ ]:
# Set the Crypto Asset
crypto_coins = ["BTC", "ETH"]

In [ ]:
# Create the Lots DataFrame
df_lots = pd.DataFrame(crypto_data, index=crypto_coins)

# Display lots data
df_lots

In [ ]:
today_price = pd.DataFrame(index=crypto_coins, my_btc, my_eth)
today_price

In [ ]:
## Calculate Current Value of Cryptocurrecies

# Fetch the current crypto prices from the DataFrame
btc_value = my_btc * (df_lots['BTC'])
eth_value = my_eth * (df_lots['ETH'])

In [ ]:
# Compute the current value in dollars of the stock portfolio
my_spy = my_spy_pershare * df_shares.loc["SPY"]["shares"]
my_agg = my_agg_pershare * df_shares.loc["AGG"]["shares"]

In [ ]:
# Print the current value of the stocks portfolio
print(f"The current value of the {df_shares.loc['SPY']['shares']} SPY shares is ${my_spy:0.2f}")
print(f"The current value of the {df_shares.loc['AGG']['shares']} AGG

In [ ]:
# Declare request url to create deck id
create_deck_url = "https://deckofcardsapi.com/api/deck/new/shuffle/?deck_count=6"

# Execute create deck url
response_data = requests.get(create_deck_url).json()
response_data